.btn-bg {
  background-color: #289bde;
  transition: 0.2s ease-in;
}

.btn-bg:hover {
  background-color: #006eae;
}

.btn-text-clr,
.price-text-clr {
  color: #289bde;
}

.btn-inverse:hover {
  background-color: #289bde;
  color: #fff;
}

.carousel-item {
  border-radius: 10px;
  overflow: hidden;
}

.p-grey {
  color: #777;
}

.p-light {
  color: #f4f4f4;
}

.heading-grey {
  color: #4a4a4a;
}
.heading-dark {
  color: #1d1d1d;
}

.carousel-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.5)
  );
  background-size: cover;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

section {
  margin: 8.125rem auto 0 !important;
}

.my-huge {
  margin: 3.5625rem auto 5.625rem;
}

.sized-img {
  width: 12.5rem !important;
  object-fit: cover;
}

/* Breakpoints  */

/* Below 575 px */
@media only screen and (max-width: 35.9375em) {
  .fs-6 {
    font-size: 0.8rem !important;
  }
}
